<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코로나 API 테스트 페이지</title>
</head>
<body>
    <div style="display: flex; padding: 20px 20px 20px 20px;">
        <div>
            <h1>카카오 지도</h1>
            <div id="map" style="width:500px;height:400px;"></div>
        </div>

        <div style="padding-left: 100px;">
            <h1>국가·지역별 최신안전소식(코로나관련)</h1>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>국가</td>
                        <td>제목</td>
                        <td>날짜</td>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(item => { %>
                        <tr>
                            <td><%=item.id %></td>
                            <td><%=item.country %></td>
                            <td><%=item.title %></td>
                            <td><%=item.date %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>


    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=appkey"></script>
    <script>
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(37.542056, 127.108212),
			level: 10
		};

		var map = new kakao.maps.Map(container, options);
	</script>
</body>
</html>