<div class="content">

	<div class="container-fluid pb-5">

		<div class="row justify-content-md-center">
			<div class="card-wrapper col-12 col-md-4 mt-5">
				<div class="brand text-center mb-3">
					<a href="/"><img src="/images/logo.png"></a>
				</div>
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Reset Password</h4>
						<form action="./leaveUser" method="post">
							<div class="form-group">
								<label for="password">Password
								</label>
								<input id="password" type="password" class="form-control" name="password" required="">
							</div>

							<div class="form-group no-margin">
								<input type="submit" class="btn btn-primary btn-block" value="회원 탈퇴">									
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	

<!-- header, sidebar 불필요 시 css-->
<style>
	header,
	aside {
		display: none;
	}
</style>
<script>
	$('body').removeClass();	
</script>
<!-- End header, sidebar 불필요 시 css-->

<script src="/js/graindashboard.js"></script>
<script src="/js/graindashboard.vendor.js"></script>