<div class="content">

    <div class="container-fluid pb-5">

        <div class="row justify-content-md-center">
            <div class="card-wrapper col-12 col-md-4 mt-5">
                <div class="brand text-center mb-3">
                    <a href="/"><img src="/images/logo.png"></a>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Login</h4>
                        <form action="/login" method="POST">
                            <div class="form-group">
                                <label for="email">E-Mail Address</label>
                                <input id="email" type="email" class="form-control" name="email" required="" autofocus="" value=<%=userEmail %>>
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input id="password" type="password" class="form-control" name="password" required="">
                            </div>

                            <% if(message) { %>
                                <h6 style="color: red; text-align: center;">
                                    <%=message %>
                                </h6>
                                <% } %>

                                    <div class="form-group">
                                        <div class="form-check position-relative mb-2">
                                            <input type="checkbox" class="form-check-input d-none" id="remember" name="remember" <% if(userEmail) { %> checked
                                            <% } %>>
                                                <label class="checkbox checkbox-xxs form-check-label ml-1" for="remember" data-icon="&#xe936">Remember Me</label>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <input type="submit" class="btn btn-primary btn-block" value="Sign In">
                                    </div>
                                    <div class="text-center mt-3 small">
                                        Don't have an account? <a href="/users/register">Sign Up</a>
                                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <!-- header, sidebar 불필요 시 css-->
    <style>
        header,
        aside {
            display: none;
        }
    </style>
    <script>
        $('body').removeClass();
    </script>
    <!-- End header, sidebar 불필요 시 css-->

    <script src="/js/graindashboard.js"></script>
    <script src="/js/graindashboard.vendor.js"></script>