<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>마이페이지</h1>
    <h3>이름 : <%=loginUser.name %></h3>
    <h3>이메일 : <%=loginUser.email %></h3>
    <h3>가입날짜 : <%=loginUser.reg_date %></h3>
</body>
</html>