<div class="content">

	<div class="container-fluid pb-5">

		<div class="row justify-content-md-center">
			<div class="card-wrapper col-12 col-md-4 mt-5">
				<div class="brand text-center mb-3">
					<a href="/"><img src="/images/logo.png"></a>
				</div>
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Reset Password</h4>
						<form action="" method="POST">

							<div class="form-group">
								<label for="code">E-Mail</label>
								<input id="email" type="email" class="form-control" name="code" required="" autofocus="">
							</div>

							<div class="form-group row">
								<div class="col-sm-10">
									<label for="code">E-Mail Code</label>
									<input id="code" type="text" class="form-control" name="code" required="" autofocus="">
								</div>
								<div class="col-sm-2" id="viewTimer" style="margin-top: 40px;"><font color='blue' size="5">00:00</font></div>
							</div>

							<div class="form-group no-margin">
								<a id="btn_enter" href="#" class="btn btn-primary btn-block">
									코드 전송
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- header, sidebar 불필요 시 css-->
<style>
	header,
	aside {
		display: none;
	}
</style>
<script>
	$('body').removeClass();
	
	var setTime = 180;
	var nowBtn = 1;

	$('#btn_enter').on('click', () => {
		if(nowBtn == 1) {
			let email = $('#email').val();

			fn_mailSend(email);
			timerStart();

			nowBtn = 2;
			$('#btn_enter').text('인증코드 재발송');
		} else if(nowBtn == 2) {
			fn_mailSend();
			timerStop();
			timerStart();
		} else if(nowBtn == 3) {
			if(setTime == 180){
                alert("시간이 끝났습니다. 코드를 재발송 하십시오.");
            } else {
                fn_mailCode();
            }
		}
	});

	$('#code').keyup(() => {
		if(nowBtn > 1) {
			if ($('#code').val().length >= 6) {
				nowBtn = 3;
				$('#btn_enter').text('코드 인증');
			} else {
				nowBtn = 2;
				$('#btn_enter').text('인증코드 재발송');
			}        
		}
	});

	var fn_mailSend = (email) => {	
		$.ajax({
			type : "POST",
			url : "/mail/send",
			dataType : "json",
			data : {"email" : email},
							
			success : (result) => {				
				alert("메일이 발송 되었습니다.");
			},
			
			error : () => {
				console.log("실패")
				return false;
			}
		});
		
	}		

	var fn_mailCode = () => {

		$.ajax({
			type : "POST",
			url : "/mail/checkCode",
			dataType : "json",
			data : {"code" : $('#code').val()},
							
			success : (result) => {				
				if(result.status == "OK") {
					alert("코드가 인증 되었습니다.");
					timerStop();
					
					var form = document.createElement("form");
					form.action = './password-reset';
					form.method = "post";					
					document.body.appendChild(form);
					form.submit();			
				} else {
					alert("코드가 맞지 않습니다.");
				}								
			},
			
			error : () => {
				console.log("실패")
				return false;
			}
		});
	}	

	var timerStart = () => { 
		tid = setInterval('msg_time()', 1000);
	}

	var timerStop = () => {
		clearInterval(tid);		// 타이머 해제
		setTime = 180;			// 시간 초기화
	}

	var msg_time = () => {	// 1초씩 카운트	
		var second = setTime % 60;
		var str = ":";
		
		if(second < 10)
			str = ":0";
		else
			str = ":";
		
		m = Math.floor(setTime / 60) + str + (setTime % 60);	 // 남은 시간 계산
		
		var msg = "<font color='blue' size='5'>" + m + "</font>";
		
		// document.all.viewTimer.innerHTML = msg;		// div 영역에 보여줌 
		$('#viewTimer').html(msg);

		setTime--;					// 1초씩 감소
		
		if (setTime < 0) {			// 시간이 종료 되었으면..			
			timerStop();
			alert('시간이 종료되었습니다.');
		}
		
	}
</script>
<!-- End header, sidebar 불필요 시 css-->

<script src="/js/graindashboard.js"></script>
<script src="/js/graindashboard.vendor.js"></script>