<div class="content">
    <div class="py-4 px-3 px-md-4">

        <div class="mb-3 mb-md-4 d-flex justify-content-between">
            <div class="h3 mb-0">서브페이지</div>
        </div>


        <div class="row">
            <div class="col-md-12 mb-3 mb-md-4">
                test
                <% include ./t2  %>
            </div>
        </div>
    </div>