<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/jquery-jvectormap-2.0.5.css" type="text/css" media="screen"/>
    <script src="/js/jquery-1.8.2.js"></script>
    <script src="/js/jquery-jvectormap-2.0.5.min.js"></script>
    <script src="/js/jquery-jvectormap-world-mill-en.js"></script>
</head>
<body>

    <div id="world-map" style="width: 90%; height: 700px"></div>

    <script>
    $(function(){
        var data = JSON.parse('<%-JSON.stringify(worldData)%>');

        $('#world-map').vectorMap({
            map: 'world_mill_en',
            panOnDrag: true,
            focusOn: {
            x: 0.5,
            y: 0.5,
            scale: 1,
            animate: true
            },
            series: {
                regions: [{
                    scale: ['#FFC6C6', '#930000'],
                    normalizeFunction: 'polynomial',
                    values: JSON.parse('<%-JSON.stringify(covidData)%>')
                }]
            },  
            onRegionTipShow: (e, el, code) => {
                var htmls = '';                
                if(data[code] == undefined) {
                    el.html('자료없음');
                } else {
                    htmls += '지역명: ' + data[code].area_nm + '<br>';
                    htmls += '확진자: ' + data[code].nat_def_cnt + '명<br>';
                    htmls += '사망자: ' + data[code].nat_death_cnt + '명<br>';
                    htmls += '사망율: ' + data[code].nat_death_rate + '%';
                    el.html(data[code].nation_nm + ')<br>' + htmls);
                }
            }
        });
    });
    </script>
</body>
</html>