<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/test/info">api이용 페이지, </a><br>
    <a href="/test/t2">코로나 감염현황 그래프, </a><br>
    <a href="/test/safePaging?startPage=1">세계 코로나 최신 안전 소식, </a><br>
    <a href="/test/world">세계 코로나 현황 차트, </a><br>
    <a href="/test/ageGender">성별, 나이별 코로나 정보, </a><br>
    <a href="/test/infection?startPage=1&startTime=&endTime=">코로나19 감염현황, </a><br>
</body>
</html>