<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1><%=type %> Boards register</h1>
    <hr>

    <form action="./<%=type %>" method="POST">
        <input type="hidden" name="type" value="<%=type %>">
        <input type="text" name="title" placeholder="제목입력"><br><br>
        <textarea id="summernote" name="content" cols="100" rows="10"></textarea>
        <br><br>
        <input type="submit" value="글등록">
    </form>

</body>
</html>